<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Dating</title>
</head>
<body>
<div class="border border-top-0 border-light ">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li ><a class=" navbar-brand"  href="#">My Moon</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="row border">
    <div class="column">
        <h1 class="text-center text-dark">My Moon</h1>
        <h6 class = body-txt" >Welcome to <b>My Moon</b> dating site. our aims is to connect you with another like minded individuals
            with whom you can build successful relation and off course create a new family " a genuine word for our existence and coexistence.  </h6>

        <p >We have the highest success rate of couples on the web. Users' are precisely matched by their interest,
            common believes and location. Find out why so many others have found love on our site ! </p><br>


        <h3 class="text-center"> Hear what out users are saying about us.</h3><br>
        <p><I>" I met the love of my life after only a month! - Andrea "</I></p>

        <p><I>"It was so easy to set up and profile and start meeting people. I didn't realize how many
            others were looking for love in my area. " -John Smith</I></p>

        <p><I>"Just try it! You'll never be the same!" -Sarah</I></p><br>
        <div class="text-center">
            <button type="button" id= "btn-profile" class="btn-lg btn-primary btn-default">Create a Profile</button>
        </div>

    </div>


    <div class="column">
        <img src="images/dating.jpg" class="img-main rounded-circle" alt="loving fingers" >
    </div>
</div>

</body>
</html>