<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/forms.css">

    <title>Interests</title>
</head>
<body>
<nav class="navbar navbar-inverse text-white bg-dark">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ><a class=" navbar-brand text-white"  href="https://nayaz.greenriverdev.com/328/dating/">My Moon</a></li>
        </ul>
    </div>
</nav>
<div class="container border rounded mt-4 p-4">

    <h2 class="text-info">Interests</h2>
    <hr>
    <form method="post" action="#">
        <!-- Row 1 -->
        <label class="font-weight-bold">In-door Interests</label>
        <div class="form-row justify-content-center">
            <repeat group="{{@indoor}}" value="{{@interest}}">
                <div class="form-group col-3">
                    <input type="checkbox" name="indoorInterests[]" value="{{@interest}}">
                    <label>{{@interest}}</label>
                </div>
            </repeat>
        </div>

        <label class="font-weight-bold">Out-door Interests</label>
        <div class="form-row">
            <repeat group="{{@outdoor}}" value="{{@interest}}">
                <div class="form-group col-3">
                    <input type="checkbox" name="outdoorInterests[]" value="{{@interest}}">
                    <label>{{@interest}}</label>
                </div>
            </repeat>
        </div>
            <div class="col text-right">

                <button type="submit" class="btn btn-info">Next ></button>
            </div>
    </form>
</div>
</body>
</html>