<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/forms.css">

    <title>Dating</title>
</head>
<body>
<nav class="navbar navbar-inverse text-white bg-dark">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ><a class=" navbar-brand text-white"  href="https://nayaz.greenriverdev.com/328/dating/">My Moon</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="border rounded mt-4 p-4 pb-5 mb-4">
        <h2 class="text-info">Personal Information</h2>
        <hr>
        <form method="post" action="#">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="form-group">
                        <label class="font-weight-bold" for="fname">First Name</label>
                        <input type="text" class="form-control text-info" id="fname" name="fname"
                               value="{{@fname}}">

                        <check if="{{isset(@errors['fname'])}}">
                            <p class="text-warning">{{@errors['fname']}}</p>
                        </check>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold" for="lname">Last Name</label>
                        <input type="text" class="form-control text-info" id="lname" name="lname" placeholder=""
                               value="{{@lname}}">

                        <check if="{{isset(@errors['lname'])}}">
                            <p class="text-warning">{{@errors['lname']}}</p>
                        </check>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold" for="age">Age</label>
                        <input type="text" class="form-control text-info" id="age" name="age" placeholder=""
                               value="{{@age}}">


                        <check if="{{isset(@errors['age'])}}">
                            <p class="text-warning">{{@errors['age']}}</p>
                        </check>
                    </div>
                    <div class="form-group" >

                        <div>
                            <label class="font-weight-bold">Gender</label>
                        </div>


                        <repeat group="{{@genders}}" value="{{@gender}}">
                            <div class="form-check form-check-inline">

                                <input class="form-check-input" type="radio" name="userGender" value="{{@gender}}"
                                <check if="{{@userGender}} == {{@gender}}">
                                    checked
                                </check>
                                >
                                <label class="form-check-label" >{{@gender}}</label>
                            </div>
                        </repeat>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="phone">Phone Number</label>
                        <input type="text" class="form-control text-info" id="phone" name="phone" placeholder="xxx-xxx-xxxx"
                               maxlength="10"
                               value="{{@phone}}">


                        <check if="{{isset(@errors['phone'])}}">
                            <p class="text-warning">{{@errors['phone']}}</p>
                        </check>
                    </div>
                </div>


                <div class="col-lg-4 col-md-12 mt-4 pt-2">
                    <div class="mb-3 border bg p-2 align-items-center">
                        <p>
                            <strong>Note:</strong> All information entered is protected by our
                            <a href="">privacy policy</a>.Profile information can only be viewed by
                            others with your permission.
                        </p>
                    </div>
                </div>
            </div>
                <!--Next Button -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 bg-light text-right">
                            <button type="submit" class="btn btn-info">Next ></button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>

</body>
</html>