<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Dating</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
        <a class="navbar-brand text-white" href="{{ @BASE }}">My Moon</a>
        <a class="navbar-brand text-white ml-auto" href="admin">Admin</a>
    </nav>

    <div class="container pt-3">
        <h1 class="text-info">Personal Information</h1>
        <hr>
        <form method="post" action="#">
            <div class ="row">
                <div class="col-8">
                        <!-- First Name -->
                        <div class="form-group">
                            <label for="fname"><b>First Name: </b> </label>
                            <input type="text" class="form-control text-info" id="fname" name = "fname"  value="{{ @userFname }}">
                            <check if="{{ isset(@errors['fname']) }}">
                                <p class="text-warning">{{@errors['fname']}}</p>
                            </check>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group">
                            <label for="lname"><b>Last Name: </b></label>
                            <input type="text" class="form-control text-info" id="lname" name = "lname"  value="{{ @userLname }}">
                            <check if="{{ isset(@errors['lname']) }}">
                                <p class="text-warning">{{@errors['lname']}}</p>
                            </check>
                        </div>

                        <!-- Age -->
                        <div class="form-group">
                            <label for="age"><b>Age: </b></label>
                            <input type="number" class="form-control text-info" id="age" name = "age"  value="{{ @userAge }}">
                            <check if="{{ isset(@errors['age']) }}">
                                <p class="text-warning">{{@errors['age']}}</p>
                            </check>
                        </div>

                        <!-- Gender -->
                        <div class="form-group">
                            <p><b>Gender: </b></p>
                            <repeat group="{{ @genders }}" value="{{ @gender}}">
                                <label class="radioFormat">
                                    <input type="radio" name="gender" id="{{ @gender }}" value="{{ @gender }}"
                                    <check if="{{ @gender == @userGender}}">checked</check>>

                                    {{ ucfirst(@gender) }}
                                </label>
                            </repeat>
                        </div>

                        <!-- Phone number -->
                        <div class="form-group">
                            <label for="pnumber"><b>Phone Number: </b></label>
                            <input type="text" class="form-control text-info" id="pnumber" name = "pnumber"  value="{{ @userPhone }}">
                            <check if="{{ isset(@errors['pnumber']) }}">
                                <p class="text-warning">{{@errors['pnumber']}}</p>
                            </check>
                        </div>

                        <!-- Premium Membership -->
                        <p><b>Premium Account</b></p>

                    <div class="form-check">
                        <label class="form-check-label" for="isPremium">
                            <input class="form-check-input" type="checkbox" id="isPremium" name="isPremium">
                            Sign me up for a Premium Account
                        </label>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12 mt-4 pt-2">
                    <div class="mb-3 border bg p-2 align-items-center">
                        <p>
                            <strong>Note:</strong> All information entered is protected by our
                            <a href="">privacy policy</a>.Profile information can only be viewed by
                            others with your permission.
                        </p>
                    </div>
                </div>

                <div class="col text-right">
                    <button type="submit" class="btn btn-info btn-lg rounded">Next</button>
                </div>
            </div>
        </form>
        <div class="row">
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>