<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/forms.css">

    <title>Summary</title>
</head>
<body>
<nav class="navbar navbar-inverse text-white bg-dark">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ><a class=" navbar-brand text-white"  href="https://nayaz.greenriverdev.com/328/dating/">My Moon</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="border rounded mt-5 ">
        <div class="row">
            <div class="border rounded">
                <h6 class="p-3 mb-0 border-bottom">Name: {{@SESSION.fname}} , {{@SESSION.lname}} </h6>
                <h6 class="p-3 mb-0 border-bottom">Gender: {{@SESSION.userGender}}</h6>
                <h6 class="p-3 mb-0 border-bottom">Age: {{@SESSION.age}}</h6>
                <h6 class="p-3 mb-0 border-bottom">Phone: {{@SESSION.phone}}</h6>
                <h6 class="p-3 mb-0 border-bottom">Email: {{@SESSION.email}}</h6>
                <h6 class="p-3 mb-0 border-bottom">State: {{@SESSION.state}}</h6>
                <h6 class="p-3 mb-0 border-bottom">Seeking: {{@SESSION.seeking}}</h6>
                <h6 class="p-3 mb-0">Interests: {{@SESSION.indoorAndOutdoor}}</h6><br>
            </div><br>

            <div class="row pl-3">
                <div class="form-group ">
                    <div class="container-fluid" col-md-5>
                        <img src="images/profile.png" class="img-main rounded-circle" alt="loving fingers" ><br>
                        <h2 class="text-center text-info"> Biography </h2>
                        <textarea class="form-control text-info"  placeholder="{{@SESSION.bio}}"  rows="10"></textarea>
                    </div>
                </div>
            </div><br>

            <!--Next Button -->
            <div class="container mt-3 ">
                <div class="row">
                    <div class="col-md-12 bg-light text-center">
                        <button type="submit" class="btn btn-info btn-lg ">Contact Me</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>