/*
Autor: Nematullah Ayaz
date: 01/28/2021
stylesheet for dating site
 */
.comments{
    padding-left: 30px;
}
.row {
   border-style: solid;
    margin: 50px;
    display: flex;
    padding: 50px;
}

.column {
    flex: 50%;
}
.title{
    text-align-all: center;
}
nav{
    background-color: #262626;
}
.navbar-brand{
    color: white;
    font-weight: bold;

}
.img-main {
    margin-left: 70px;


}
.body-txt {
    font-weight: normal;
}
#btn-profile {
    float: inherit;
    border-radius: 10px;
}